<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sagar.ahs">

    <application
        android:allowBackup="true"
        android:icon="@drawable/crops"
        android:label="@string/ahs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewField"
            android:label="@string/field_adder" />
        <activity
            android:name=".homescreenjava"
            android:label="@string/main_page" />
        <activity
            android:name=".showuserinfo"
            android:label="@string/user_info" />
        <activity android:name=".Addition1" />
        <activity android:name=".Addition2" />
        <activity android:name=".Addition3"></activity>
    </application>

</manifest>